
<script>

  console.log('{{settings.colors}}');
  
</script>

<section class='page-section colors'>
<div class='inner-column'>

  <ol class='swatch-list'>
    <li class='swatch black'>
    	$black:<br> {{settings.black}}
    </li>
    <li class='swatch white'>
    	$white:<br> {{settings.white}}
    </li>
    <li class='swatch gray'>
    	$gray:<br> {{settings.gray}}
    </li>
 
    <li class='swatch gray-light'>
    	$gray-light:<br> {{settings.gray_light}}
    </li>
    <li class='swatch gray-dark'>
    	$gray-dark:<br> {{settings.gray_dark}}
    </li>
    <li class='swatch gray-lighter'>
    	$gray-lighter:<br> {{settings.gray_lighter}}
    </li>

    <li class='swatch color'>
    	$color:<br> {{settings.color}}
    </li>
    <li class='swatch color-light'>
    	$color-light:<br> {{settings.color_light}}
    </li>
    <li class='swatch color-dark'>
    	$color-dark:<br> {{settings.color_dark}}
    </li>

    <li class='swatch highlight'>
    	$highlight:<br> {{settings.highlight}}
    </li>
    <li class='swatch highlight-light'>
    	$highlight-light:<br> {{settings.highlight_light}}
    </li>
    <li class='swatch highlight-dark'>
    	$highlight-dark:<br> {{settings.highlight_dark}}
    </li>

    <li class='swatch alternate'>
    	$alternate:<br> {{settings.alternate}}
    </li>
    <li class='swatch alternate-light'>
    	$alternate-light:<br> {{settings.alternate_light}}
    </li>
    <li class='swatch alternate-dark'>
    	$alternate-dark:<br> {{settings.alternate_dark}}
    </li>
  </ol>

</div>
</section>
