
<section class='page-section'>
<div class='inner-column'>

  <ol class='item-list'>
    {% for product in collections.frontpage.products limit:4 %}
      <li class='item'>
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {{ product.price | money }}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        <a href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </li>
    {% endfor %}
  </ol>

</div>
</section>
